$off-white: #FCFDEF;
$charcoal: #3B444B;
$red: #C01400;
$thin-border: 1px solid $charcoal;
$thick-border: 3px solid $charcoal;

@mixin border-bottom($border) {
  background-color: $off-white;
  border-bottom: $border;
  border-left: none;
  border-right: none;
  border-top: none;
}

@mixin border-full() {
  background-color: $off-white;
  border: $thin-border;
}

@mixin border-weighted() {
  background-color: $off-white;
  border-bottom: $thin-border;
  border-left: $thin-border;
  border-right: none;
  border-top: none;
}

html, body {
  background-color: $off-white;
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  color: $charcoal;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  width: 100%;
}

a {
  // change this color
  color: $charcoal;
  text-decoration: none;
}

a:focus {
  outline: none !important;
  text-decoration: underline;
}

button {
  // @include border-full();

  background-color: $charcoal;
  border: none;
  border-radius: 0;
  color: $off-white;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
}

button:disabled {
  background-color: #CCC;
}

button:focus {
  background-color: #000;
  outline: none !important;
}

h1 {
  font-weight: 400;
}

input {
  @include border-bottom($thin-border);
  background-color: $off-white;
  border-radius: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  min-height: 20px;
}

input[type="submit"] {
  cursor: pointer;
}

input:focus {
  border-bottom: 1px solid $red;
  outline: none !important;
}


.flash {
  background-color: $charcoal;
  color: $off-white;
  font-weight: 200;
  height: 20px;
  left: 0;
  padding: 2px 10px;
  position: fixed;
  top: 0;
  width: 320px;
}

.header {
  @include border-bottom($thick-border);
  align-items: center;
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  margin: 0;
  min-width: 310px;
  overflow: auto;
  width: 90%;
}

  .header-link {
    // color: $secondary-dark;
  }

  .header-title {
    font-size: 0.9rem;
    margin: 0 0 0 15px;
  }

  .header-usermenu {
    align-items: center;
    display: flex;
  }

    .header-usermenu-item {
      margin: 0 10px;
    }

  .header-login {
    display: flex;
  }

    .header-login-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 5px;
      min-width: 60px;
    }

      .header-login-col-el {
        font-size: 0.9rem;
        margin: 0 0 5px 0;
      }

      .header-login-col-input {
        width: 90px;
      }


  @media only screen and (min-width: 768px) {
    
    // .header-login-col {
    //   width: 120px;
    // }

    .header-login-col-input {
      width: 180px;
    }

  }

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  max-width: 970px;
  width: 95%;
}

.createpost {
  margin: 20px 0 0 0;
  width: 300px;
}

  .createpost-input {
    margin: 0 0 8px 0;
    padding: 3px;
    width: 95%;
  }

  .createpost-input:focus {
    border-color: $red;
    outline: none !important;
  }

  .createpost-submit {
    margin: 0 0 0 80%;
  }

.postlist {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  min-width: 290px;
}

.post {
  box-sizing: border-box;
  color: $charcoal;
  min-height: 70px;
  margin: 5px 0;
  max-width: 320px;
  padding: 5px;
}

  .post-head {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

    .post-head-left {
      align-items: center;
      display: flex;
    }

      .post-head-left-author {
        font-weight: 700;
        margin: 0 10px 0 0;
      }

      .post-head-left-delete-button {
        font-size: 0.7rem;
      }

    .post-head-timestamp {
      font-size: 0.8rem;
    }

  .post-content {
    border-top: $thin-border;
    margin: 5px 0 0 5px;
    padding: 5px 0 0 0;
  }

.signupmodal {
  background-color: rgb(59, 68, 75);
  background-color: rgba(59, 68, 75, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

  .signupmodal-content {
    @include border-full();
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 10% auto;
    max-width: 500px;
    width: 90%;
  }

    .signupmodal-content-form {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

      .signupmodal-content-form-input {
        height: 25px;
        margin: 5px 0;
        width: 80%;
      }

      .signupmodal-content-form-message {
        font-size: 0.7rem;
        height: 15px;
        margin: 0 0 3px 0;
        width: 80%;
      }

    .signupmodal-content-cancel {
      margin: 15px 0 0 0;
    }

