html {
  height: 100%;
  width: 100%;
}

body {
  align-items: center;
  background-color: #CEDDC7;
  color: #DDD;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

header {
  align-items: center;
  background-color: #006666;
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin: 0;
  overflow: auto;
  width: 100%;
}

  .header-title {
    color: #DDD;
  }

h1 {
  margin: 0 0 0 15px;
}

input {
  border: none;
  font-size: 1rem;
  min-height: 20px;
}

a {
  color: #DDD;
  text-decoration: none;
}

button, input[type=submit] {
  background-color: #FFF;
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 3px #555;
  color: #333;
  font-size: 1rem;
}

.flash {
  background-color: #FFFED2;
  color: #333;
  height: 20px;
  padding: 2px 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* global/helper classes */
.error {
  font-size: 0.7rem;
}

.usermenu {
  align-items: center;
  display: flex;
}

  .usermenu-item {
    margin: 0 10px;
  }

/* specific classes */
.loginlogout {
  display: flex;
  flex-direction: column;
  margin: 0 15px 0 0;
}

  .loginlogout-row {
    align-items: center;
    display: flex;
    margin: 10px 0 0 0;
  }

    .loginlogout-row-element {
      font-size: 0.9rem;
      margin: 0 8px 0 0;
    }

  .loginlogout-signup {
    justify-content: flex-end;
  }

.main {
  align-items: center;
  background-color: #B6C8A9;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  max-width: 970px;
  width: 95%;
}

.input-post {
  margin: 20px 20px 0 0;
  padding: 3px;
  width: 300px;
}

.posts {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  min-width: 290px;
  /*width: 500px;*/
}

  .posts-post {
    background-color: #EEE;
    box-shadow: 0 1px 3px #555;
    box-sizing: border-box;
    color: #444;
    min-height: 60px;
    margin: 5px 0;
    max-width: 320px;
    padding: 5px;
  }

    .posts-post-head {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

      .posts-post-head-left {
        align-items: center;
        display: flex;
      }

        .posts-post-head-left-author {
          font-weight: bold;
          margin: 0 10px 0 0;
        }

          .posts-post-head-left-author-link {
            color: #006666;
          }

        .posts-post-head-left-delete {
          font-size: 0.7rem;
        }

      .posts-post-head-timestamp {
        font-size: 0.8rem;
      }

    .posts-post-content {
      margin: 5px 0 0 0;
    }

.signupmodal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

  .signupmodal-content {
    align-items: center;
    background-color: #EEE;
    border: none;
    box-shadow: 0 3px 10px #555;
    color: #444;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 15% auto;
    max-width: 500px;
    width: 90%;
  }

    .signupmodal-content-form {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

      .signupmodal-content-form-input {
        color: #444;
        height: 25px;
        margin: 5px 0;
        width: 80%;
      }

      .signupmodal-content-form-message {
        font-size: 0.7rem;
        height: 15px;
        margin: 0 0 3px 0;
        width: 80%;
      }

    .signupmodal-content-cancel {
      margin: 15px 0 0 0;
    }
