html, body {
  background-color: #FCFDEF;
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
  width: 100%; }

body {
  align-items: center;
  color: #3B444B;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  width: 100%; }

a {
  color: #3B444B;
  text-decoration: none; }

a:focus {
  outline: none !important;
  text-decoration: underline; }

button {
  background-color: #3B444B;
  border: none;
  border-radius: 0;
  color: #FCFDEF;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200; }

button:disabled {
  background-color: #CCC; }

button:focus {
  background-color: #000;
  outline: none !important; }

h1 {
  font-weight: 400; }

input {
  background-color: #FCFDEF;
  border-bottom: 1px solid #3B444B;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: #FCFDEF;
  border-radius: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  min-height: 20px; }

input[type="submit"] {
  cursor: pointer; }

input:focus {
  border-bottom: 1px solid #C01400;
  outline: none !important; }

.flash {
  background-color: #3B444B;
  color: #FCFDEF;
  font-weight: 200;
  height: 20px;
  left: 0;
  padding: 2px 10px;
  position: fixed;
  top: 0;
  width: 320px; }

.header {
  background-color: #FCFDEF;
  border-bottom: 3px solid #3B444B;
  border-left: none;
  border-right: none;
  border-top: none;
  align-items: center;
  display: flex;
  min-height: 80px;
  justify-content: space-between;
  margin: 0;
  min-width: 310px;
  overflow: auto;
  width: 90%; }

.header-title {
  font-size: 0.9rem;
  margin: 0 0 0 15px; }

.header-usermenu {
  align-items: center;
  display: flex; }

.header-usermenu-item {
  margin: 0 10px; }

.header-login {
  display: flex; }

.header-login-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
  min-width: 60px; }

.header-login-col-el {
  font-size: 0.9rem;
  margin: 0 0 5px 0; }

.header-login-col-input {
  width: 90px; }

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  max-width: 970px;
  width: 95%; }

.createpost {
  margin: 20px 0 0 0;
  width: 300px; }

.createpost-input {
  margin: 0 0 8px 0;
  padding: 3px;
  width: 95%; }

.createpost-input:focus {
  border-color: #C01400;
  outline: none !important; }

.createpost-submit {
  margin: 0 0 0 80%; }

.postlist {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  min-width: 290px; }

.post {
  box-sizing: border-box;
  color: #3B444B;
  min-height: 70px;
  margin: 5px 0;
  max-width: 320px;
  padding: 5px; }

.post-head {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.post-head-left {
  align-items: center;
  display: flex; }

.post-head-left-author {
  font-weight: 700;
  margin: 0 10px 0 0; }

.post-head-left-delete-button {
  font-size: 0.7rem; }

.post-head-timestamp {
  font-size: 0.8rem; }

.post-content {
  border-top: 1px solid #3B444B;
  margin: 5px 0 0 5px;
  padding: 5px 0 0 0; }

.signupmodal {
  background-color: #3b444b;
  background-color: rgba(59, 68, 75, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.signupmodal-content {
  background-color: #FCFDEF;
  border: 1px solid #3B444B;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 10% auto;
  max-width: 500px;
  width: 90%; }

.signupmodal-content-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%; }

.signupmodal-content-form-input {
  height: 25px;
  margin: 5px 0;
  width: 80%; }

.signupmodal-content-form-message {
  font-size: 0.7rem;
  height: 15px;
  margin: 0 0 3px 0;
  width: 80%; }

.signupmodal-content-cancel {
  margin: 15px 0 0 0; }

/*# sourceMappingURL=style2.css.map */
