{% from 'macros.html' import hamburger_menu %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Wispy">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/normalize.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/style2.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./images/favicon.ico') }}">
  <title>Mumbler</title>
</head>

<body>
  {% with messages = get_flashed_messages(category_filter=["login"]) %}
    {% if messages %}
    <div id="flash" class="flash">
      {% for message in messages %}
      <span>{{ message }}</span>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
  <header class="header">
    <a class="header-title header-link" href="/"><h1>Mumbler</h1></a>

      <!-- Log Out button if logged in -->
      {% if 'user' in session %}
      <div class="header-usermenu">
        <div class="header-usermenu-item">Hi, {{ current_user.username }}</div>
        <div class="header-usermenu-item">
          <a class="header-link" href="/u/{{ current_user.username }}">My Profile</a>
        </div>
        <div class="header-usermenu-item">
          <form action="/logout" method="POST">
            <button type="submit" name="logout">Log Out</button>
          </form>
        </div>
      </div>

      <!-- Log In / Sign Up if not logged in -->
      {% else %}
      {# <div class="header-login">

        <!-- log in -->
        <form class="header-login-row" action="/login" method="POST">
          <input class="header-login-row-element" type="text" name="username" placeholder="username">
          <input class="header-login-row-element" type="password" name="password" placeholder="password">
          <input class="header-login-row-element" type="submit" value="Log in" name="login">
        </form>

        <!-- sign up -->
        <div class="header-login-row header-login-signup">
          <span class="header-login-row-element">Don't have an account?</span>
          <button class="header-login-row-element" id="signup">Sign Up</button>
        </div>
      </div> #}
        <form class="header-login" action="/login" method="POST">
          <div class="header-login-col">
            <input class="header-login-col-el header-login-col-input" type="text" name="username" placeholder="username">
            <input class="header-login-col-el header-login-col-input" type="password" name="password" placeholder="password">
          </div>
          <div class="header-login-col">
            <button class="header-login-col-el" type="submit" name="login">Log In</button>
            <button type="button" class="header-login-col-el" id="signup">Sign Up</button>
          </div>
        </form>


      {% endif %}
      {# {{ hamburger_menu() }} #}
  </header>

  <div class="main">

    {% block main %}
    {% endblock %}
    
  </div>

<script>
  var messages = [];
  {% with messages = get_flashed_messages(category_filter=["register"]) %}
    {% for message in messages %}
      messages.push('{{ message }}');
    {% endfor %}
  {% endwith %}
</script>
<script src={{ url_for('static', filename='./js/script.js') }}></script> 
</body>
  
</html>
