{% macro post_input() %}

  <form class="createpost" action="/post" method="POST">
    <input id="input-post" class="createpost-input" placeholder="Enter your post" maxlength="50" type="text" name="contents">
    <button class="createpost-submit" name="submit_post">Post</button>
  </form>
  {% with messages = get_flashed_messages(category_filter=["post"]) %}
    {% if messages %}
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

{% endmacro %}

{% macro post_list(current_user, posts) %}

  <div class="postlist">
    {% for post in posts %}
    <div class="post">
      <div class="post-head">
        <div class="post-head-left">
          <div class="post-head-left-author">
            {% set uname = post.author.username %}
            <a class="post-head-left-author-link" href="/u/{{ uname }}">{{ uname }}</a>
          </div>
          {% if post.author == current_user %}
          <div class="post-head-left-delete">
            <form action="/delete" method="POST">
              <button class="post-head-left-delete-button" type="submit">delete</button>
              <input type="text" name="post_id" hidden="true" value="{{ post.id }}">
            </form>
          </div>
          {% endif %}
        </div>
        <div class="post-head-timestamp">{{ time_to_string(post.timestamp) }}</div>
      </div>
      
      <div class="post-content">{{ post.content }}</div>
    </div>
    {% endfor %}
  </div>

{% endmacro %}
